// Main colors

$primary: #3557fc;
$primary-lighter: #4d69f5;
$primary-darker: #1136ec;

// Text color

$text-color: #272a2e;
$text-color-light: #828a94;

// Backgrounds

$bck-primary: #ffffff;
$bck-secondary: #f1ebeb;

// Helpers

